#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

include /usr/share/openstack-pkg-tools/pkgos.make

override_dh_auto_clean:
	echo $(VERSION) > cinderclient/versioninfo
	dh_auto_clean
	rm -f cinderclient/versioninfo

override_dh_auto_configure:
	echo $(VERSION) > cinderclient/versioninfo
	dh_auto_configure

%:
	dh $@  --with python2

get-orig-source:
	uscan --verbose --force-download --rename --destdir=../build-area

override_dh_auto_test:
	./run_tests.sh -N
